{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <br>
    <h1 align="center">{{user.first_name}}'s Profile</h1>
    <br>
    <img align="center" src="https://i.etsystatic.com/14742401/r/il/7223c2/1213383541/il_1588xN.1213383541_bj84.jpg" style="  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;">
    <h1 align="center"></h1>
    <h5 align="center">Email: {{user.email}}</h5>
    <h5 align="center">Grade: Senior</h5>
    <h5 align="center">Major: Computer Science</h5>
    
    {% endblock %}