{% extends "base.html" %} {% block title %}Schedule{% endblock %} {% block content
    %}
    <br>
    <h1 align="center">Schedule</h1>
    <iframe src="https://calendar.google.com/calendar/embed?height=560&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&src=Y19hNjQzZDczajlldmw3b2w0cmdsbDY1dGxpc0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548" style="border:solid 1px #777" width="800" height="560" frameborder="0" scrolling="no"></iframe>
    <form method="POST">
      <div class="form-group">
        <label for="summary">Summary</label>
        <input
          type="summary"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button id="submit" type="submit" class="btn btn-primary" style="background-color: black">Login</button>
    </form>
    {% endblock %}