{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content
    %}
    <h1 align="center">Member Search</h1>
    <form method="POST">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="first_name"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          type="last_name"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Last Name"
        />
      </div>
        <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <br />
      <button id="submit" type="submit" class="btn btn-primary">Find</button>
    {% endblock %}

<!--<form action = {{ url_for('member') }} method='post'>-->
<!--    <input type = 'first-name' = "First Name" placeholder="Enter first name of member"> <br> <br>-->
<!--    <input type = 'last-name' = "Last Name" placeholder="Enter last name of member"> <br> <br>-->
<!--    <input type = 'email' = "Email" placeholder="Enter email of member"> <br> <br>-->
<!--    <input type = 'submit' placeholder='submit'>-->

<!--</form>-->